.home__container {
	margin-top: 6rem;
	margin-bottom: 5rem;
}
.homeImages {
	width:20rem;
	height: 20rem;
	transition: all 1s;
}

.imageContainer {
	border-bottom: 1px solid lightgray ;
}
/* #navBar {
	width: 99vw;
} */
