#footer {
	background-color: white;
	border-top: 0.1rem solid;
    border-bottom: 0;
	border-color: lightgray;
	height: 3rem;
    margin-top: 1rem;
    padding: 1.2rem;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#text {
	color: black;
	font-family: 'Courier New', Courier, monospace;
	align-items: center;
	justify-content: center;
}